@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');


:root {
  --index: calc(1vw + 1vh);
  --index--second: calc(1vw + 1.6vh);
  --bg: #161616;
  --second: #00a889;
  --light-shadow: #005b4a;
  --dark-shadow: #002720;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}


body {
  min-width: 100vw;
  position: relative;
  min-height: 100vh;
  font-family: 'Nova Square', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
